
body {
	font-family: "Georgia";
	text-decoration: none;
}

a {
	text-decoration: none;
}

.outerContainer {
	width: 100%;

}

.mainContainer {
	width:900px;
	margin: 0 auto;
}

/*-----nav bar------*/
.leftNavBar {
	width: 20%;
	height: 900px;
	background-color: #058490;
	float:left;
	padding-top: 100px;
}

.navItem {
	width: 80%;
	height: 40px;
	margin-left: 10%;
	background-color: #ED7306;
	border-radius: 20%;
	margin-bottom: 25px;

}

.navItem:hover {
	background-color: #FFA656;
}

.navItem p{
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 

}

/*--------Home content-------*/
.homeContainer {
	width: 80%;
	height: 1000px;
	background-color: #A1D3D8;
	float:right;
}

.nameText {
	font-size: 40px;
	font-style: bold;
	text-align: center;
}

.photoDiv {
	display: table;
}

.photo {
	width:40%;
	border-radius: 20%;
	text-align: center;
	margin-left: 300px;
	margin-left: 30%;
	border-style: 2px solid black;
}

.welcome {
	margin: 25px;
	text-align: center;
}

/*--------Contact content-------*/
.contactContainer {
	width: 80%;
	height: 875px;
	background-color: #A1D3D8;
	float:right;
	padding-top: 125px;
}

.contactMethods {
	background-color: white;
	width: 60%;
	height: 20%;
	margin: 0 auto;
}

.contactGreeting {
	font-size: 20px;
	padding: 25px;
	text-align: center;
}

.iconDiv {
	width: 40%;
	margin: 0 auto;
}

.email {
	color:#86888A;
	
}

.email:hover {
	color: red;
}

.linked {
	color: #86888A;	
	margin-left: 20px;
}

.linked:hover {
	color: #0077B5;
}

.git {
	color: #86888A;
	margin-left: 20px;
}

.git:hover {
	color: black;
}