html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: "Georgia";
	text-decoration: none;
}

a {
	text-decoration: none;
	color:black;
}

.outerContainer {
	width: 100%;

}

.mainContainer {
	width:900px;
	margin: 0 auto;
}

/*-----nav bar------*/


.leftNavBar {
	width: 180px;
	height: 1000px;
	background-color: #058490;
	float:left;
	position: fixed;
}

.name{
	height: 80px;
	text-align: center;
	padding-top: 30px;
}

.navItem {
	width: 80%;
	height: 40px;
	margin-left: 10%;
	background-color: #e5954d;
	margin-bottom: 25px;
	border-radius:10px;
}

.selectedItem {
	background-color: #ED7306;
}

.navItem:hover {
	background-color: #ED7306;
}

.navItem p{
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 

}

/*--------Home content-------*/
.homeContainer {
	width: 80%;
	height: 1000px;
	background-color: #A1D3D8;
	float:right;
}

.nameText {
	font-size: 40px;
	font-style: bold;
	padding: 30px;
	text-align: center;
}

.photoDiv {
	display: table;
}

.photo {
	width:30%;
	border-radius: 20%;
	text-align: center;
	margin-left: 35%;
	border-style: 2px solid black;
}

.welcome {
	margin: 25px;
	text-align: center;
}

.creditsHeader {
	margin-top: 100px;
	text-align: center;
}

.creditList {
	margin-left: 25px;
	list-style-type:none
}

li {
	font-size: 15px;
	padding: 5px;
}

/*--------About content-------*/


/*--------Contact content-------*/
.contactContainer {
	width: 80%;
	height: 875px;
	background-color: #A1D3D8;
	float:right;
	padding-top: 125px;
}

.contactMethods {
	background-color: white;
	width: 60%;
	height: 20%;
	margin: 0 auto;
}

.contactGreeting {
	font-size: 20px;
	padding: 25px;
	text-align: center;
}

.iconDiv {
	width: 40%;
	margin: 0 auto;
}

.email {
	color:#86888A;
	
}

.email:hover {
	color: red;
}

.linked {
	color: #86888A;	
	margin-left: 20px;
}

.linked:hover {
	color: #0077B5;
}

.git {
	color: #86888A;
	margin-left: 20px;
}

.git:hover {
	color: black;
}

/*-----Project content-----*/
.projectsContainer {
	width: 80%;
	height: 950px;
	background-color: #A1D3D8;
	float:right;
	padding-top: 50px;
}

.project {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	background-color: white;
}

.projectTitle {
	width: 90%;
	padding: 5%;
}

.projectName {
	font-size: 25px;
	color: #058490;
}

.projectDate{
	float:right;
	line-height: 25px;
}

.projectDescription {
	width: 40%;
	padding-left: 7%;
	padding-bottom: 10%;
	padding-right: 3%;
	float:left;
}

.projectDescriptionNoPic {
	width: 80%;
	padding-left: 7%;
	padding-bottom: 10%;
	padding-right: 3%;
	float:left;
}

.projectImg {
	width: 43%;
	padding-right: 7%;
	padding-bottom: 7%;
	float: right;
}

.gitDiscl {
	padding-top: 40px;
}

/*---Footer---*/

.wrapper {
	min-height: 100%;
	height: 100%;
	margin: 0 auto -4em;
}

.footer {
	height: 10px;
	border-top: 1px solid black;
	margin-left: 25px;
	margin-right: 25px;
}

.updateDate {
	float: right;
	padding: 10px;
	font-size: small;
}