
.menu ul{
    border-collapse: collapse;
    list-style-type: none;
    padding-top: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu li {
    border: 1px solid black;
    display: table-cell; 
}

.menu a{
    display: block;
    color:#000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;   
}

.menu a:hover{
    color: #FFFFFF;
    background-color: #333333;
}
